@font-face {
    font-family: 'MiFuente-medium';
    src: url('/static/fonts/LEMONMILK-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'MiFuente-bold';
    src: url('/static/fonts/LEMONMILK-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'MiFuente-regular';
    src: url('/static/fonts/LEMONMILK-Regular.otf') format('truetype');
}

body {
    font-family: 'MiFuente-bold', sans-serif; 
}

.app-container{
    height: 600px;
}
#cal-body{
    max-width: 700px;
    max-height: 700px;
    width: 500px;
    height: 500px;
}

.cal-nav{
    width: 110px;
    height: 50px;
}

#date_cal{
    font-size: 40px;
}

.cal-day{
    width: 50px;
    height: 50px;
    font-family: 'MiFuente-regular', sans-serif;
}

.day-selectable{
    cursor: pointer;
}
.day-selectable:hover{
    background-color: #0d6efd;
    color: antiquewhite;
    border-radius: 50%;
}
.select{
    border: 5px solid #0d6efd;
    border-radius: 50%;
}
.day-no-selectable{
    cursor: not-allowed;
}

#todo-container{
    height: 100%;
}

#del-btn, #create-btn{
    width: 140px;
}

.task-item{
    min-height: 80px;
    max-height: 200px;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    border: 3px solid #7b7b7b;
}
#tasks-display{
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    border: 3px solid #c6c0c0;
}
#task_form{
    display: none;
}



.task-btn-check{
    width: 100px;
}

/* Customize the label (the container) */
.complete-task-btn {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}
  
  /* Hide the browser's default checkbox */
.complete-task-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25.97px;
    width: 28px;
    background-color: #eee;
}
  
 /* On mouse-over, add a grey background color */
.complete-task-btn:hover input ~ .checkmark {
    background-color: #ccc;
}
  
/* When the checkbox is checked, add a blue background */
.complete-task-btn input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the checkmark when checked */
.complete-task-btn input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the checkmark/indicator */
.complete-task-btn .checkmark:after {
    left: 9px;
    top: 3px;
    width: 10px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checked{
    text-decoration: line-through;
}

.eliminate{
    text-decoration: none !important;
}